<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.freight.dao.StaffMapper">
  <select id="selectRows" resultType="Staff">
    select * from staff where status > 0
    <if test="staffId != null">
      and staff_id = #{staffId}
    </if>
    <if test="staffName != null">
      and staff_name = #{staffName}
    </if>
    <if test="staffRole != null">
      and staff_role = #{staffRole}
    </if>
    order by staff_id desc
    limit #{startNo},#{pageSize}
  </select>

  <select id="countRows" resultType="int">
    select count(1) from staff where status > 0
    <if test="staffId != null">
      and staff_id = #{staffId}
    </if>
    <if test="staffName != null">
      and staff_name = #{staffName}
    </if>
    <if test="staffRole != null">
      and staff_role = #{staffRole}
    </if>
  </select>

  <insert id="insertStaff" parameterType="Staff" keyProperty="staffId">
    insert into staff
    (staff_name,gender,birth,staff_address,phone,staff_role,status)
    values(#{staffName},#{gender},#{birth},
    #{staffAddress},#{phone},#{staffRole},1)
  </insert>

  <select id="selectStaffById" resultType="Staff">
    select * from staff
    where staff_id = #{recordId} and status > 0
  </select>

  <update id="updateStaff" parameterType="Staff">
    update staff set
    staff_name = #{staffName},gender = #{gender},birth = #{birth},
    staff_address = #{staffAddress},phone = #{phone},staff_role = #{staffRole}
    where staff_id = #{staffId}
  </update>

  <update id="setStaffStatus">
    update staff set status = #{status}
    where staff_id = #{staffId}
  </update>

</mapper>
